@font-face {
  font-family: 'iconfont';  /* project id 424756 */
  src: url('//at.alicdn.com/t/font_424756_3ljomb10ibrl766r.eot');
  src: url('//at.alicdn.com/t/font_424756_3ljomb10ibrl766r.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_424756_3ljomb10ibrl766r.woff') format('woff'),
  url('//at.alicdn.com/t/font_424756_3ljomb10ibrl766r.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_424756_3ljomb10ibrl766r.svg#iconfont') format('svg');
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-p:before { content: "\e621";}
.icon-fixed:before { content: "\e620";}
.icon-left:before { content: "\e616";font-size: 1.5rem }
.icon-daohang:before { content: "\e71c";font-size: 1.5rem }
.icon-falut:before { content: "\e614";font-size: 1.5rem }
.icon-two:before { content: "\e6c7"; }
.icon-ps:before { content: "\e607"; }
.icon-info:before {
content: "\e612";
font-size: 1.7rem;
/* vertical-align: -webkit-baseline-middle; */
color:#0d73c0 !important;
 }
.icon-faxian:before { content: "\e609"; }

.icon-sousu:before {
  content: "\e629"; }

.icon-Partner_03:before { content: "\e60d"; }

.icon-icon:before { content: "\e61d"; }

.icon-shuaxin:before { content: "\e63d"; }

.icon-hricon43:before { content: "\e644"; }

.icon-gongzuo:before { content: "\e605"; }

.icon-gongzuo1:before {
  content: "\e650";
  color: #11b0fb;
   }
  .icon-bag:before {
  content: "\e613";
   }
.icon-star:before {
  content: "\e754";
  font-size: 1.7rem;
  vertical-align: super;
  color: #cfd4d8 !important
   }
.icon-wuziwaimao:before { content: "\e639"; }

.icon-shouji:before { content: "\e61c"; }

.icon-jilu:before { content: "\e60e"; }

.icon-tieziwebapp:before { content: "\e628"; }

.icon-buoumaotubiao03:before { content: "\e602"; }

.icon-zhuye:before {
  content: "\e60f";
  color: #d0d4d3;
   }

.icon-fankui:before { content: "\e60a"; }

.icon-huijidaojia01:before { content: "\e626"; }

.icon-yulan:before { content: "\e6a4"; }

.icon-renzheng:before {
  content: "\e603";
  color: white;
  font-size: 1.5rem;
   }

.icon-xinxi:before { content: "\e627"; }

.icon-kefu:before { content: "\e610"; }

.icon-boshimao:before {
  content: "\e604";
  font-size: 1.5rem;
}

.icon-quanbu:before { content: "\e611"; }

.icon-tianjia:before { content: "\e65d"; }

.icon-iconfontzhizuobiaozhun13:before { content: "\e642"; }

.icon-jinggao:before { content: "\e63e"; }

.icon-xia:before { content: "\e600"; }

.icon-zan:before { content: "\e625"; }

.icon-jubaomorenzhuangtai:before { content: "\e648"; }

.icon-dizhi:before { content: "\e61f"; color: #d0d4d3; }

.icon-dot:before { content: "\e601";color: red; }

.icon-saoma:before {
 content: "\e61e";
 font-size: 1.5rem;
  }

.icon-vuejs:before { content: "\e617"; }

.icon-huafei:before { content: "\e615"; }

.icon-shezhi:before { content: "\e618"; }

.icon-dianhuabu:before { content: "\e65b"; }

.icon-toudi:before { content: "\e61b"; }

.icon-zuji:before { content: "\e60b"; }

.icon-folder_icon:before { content: "\e666"; }

.icon-shoucangjia:before { content: "\e608"; }

.icon-xiugai:before { content: "\e6a7"; }

.icon-fenxiang:before {
content: "\e619";
font-size: 1.7rem;
/* vertical-align: -webkit-baseline-middle;  */
color:#0d73c0 !important;
}

.icon-nan:before { content: "\e61a"; }

.icon-zhoubian:before {
  content: "\e713";
  color: #e67e4d;
}

.icon-xiaoxi:before { content: "\e60c"; }

.icon-xingbie-nv:before { content: "\e606"; }

.icon-pingbiyonghu:before { content: "\e634"; }

.icon-zhichangbagua:before {
  content: "\e63c";
  color:#da5de9;
}

